
// Font
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$headings-font-family: 'Anton';

// Enable Feature
$enable-responsive-font-sizes: true;
$enable-shadows: true;

// Card
$card-border-radius: 0px;
$card-border-width: 0px;
