
.img-logo img {
    height: 18vh;
}

.main-bg {
    width: 100%;
    height: 100vh;
    background-size: cover; 
    background-position: center;
}

.display-2 {
    margin-top:30vh;
}

#content-logo {
    padding-top: 50px;
}

.drawer-hamburger-icon, .drawer-hamburger-icon:after, .drawer-hamburger-icon:before{
    background-color: #fff !important;
    right: 10px;
}
.drawer--right .drawer-hamburger, .drawer-navbar .drawer-hamburger {
    right: 15px !important;
}

.imglogo img {
    width: 15%;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.logo-bt-footer {
    position: absolute;
    left: 30vh;
    top: 80vh;
}

.bg-footer {
    height: 100vh;
    width: 45%;
    background-position: top left;
    background-size: cover;
}

.text-footer {
    position: absolute;
}

.card-footer-2 {
    background-color: #f5f5f5;
    width: 50%;
    padding: 35px;
    top: 15vh;
    left: 30vh;
}

p.tx-footer {
    font-size: 16pt;
}

.copyright-tx {
    color: #fff;
    margin-top: 90vh
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events:all;
}

.btn-modal-close {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #3c7d5e;
    color: #fff;
    padding: 8px;
    position: absolute;
    top: -20px;
    right: -20px;
}

.btn-social {
    padding: 12px;
    border-radius: 8px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.btn-social-2 {
    padding: 5px;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2px;
    margin-right: 2px;
}

.btn-social-2:hover {
    color: #fff;
}

.btn-fb {
    background-color: #4367B3;
    color: #fff;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(67,103,179,1);
    -moz-box-shadow: 0px 0px 10px -3px rgba(67,103,179,1);
    box-shadow: 0px 0px 10px -3px rgba(67,103,179,1);
}

.btn-wa {
    background-color: #26d368;
    color: #fff;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(38,211,104,1);
    -moz-box-shadow: 0px 0px 10px -3px rgba(38,211,104,1);
    box-shadow: 0px 0px 10px -3px rgba(38,211,104,1);
}

.btn-tw {
    background-color: #54abee;
    color: #fff;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(84,171,238,1);
    -moz-box-shadow: 0px 0px 10px -3px rgba(84,171,238,1);
    box-shadow: 0px 0px 10px -3px rgba(84,171,238,1);
}

.form-email-2 {
    display: block;
    width: 70%;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #d3d3d3;
    border-radius: 0;
}

.form-email-3 {
    display: block;
    width: 60%;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #777777;
    border-radius: 0;
    margin-top: 10px;
}

.form-email-4 {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #777777;
    border-radius: 0;
    margin-top: 20px;
}

.btn-ttd-petisi {
    margin-top: 0px;
    margin-left: 10px;
    background-color: #128649;
    width: 375px;
    font-size: 13pt;
    padding-top: 10px;
    height:50px;
}

.bg-img-2 {
    padding-top: 45px;
}

.bg-img-3 {
    padding-top: 35px;
}

.card-2 {
    border-radius: 10px;
}

header.header2 {
    position: fixed;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.9);
    padding-top: 20px;
    z-index: 999;
    top: 0;
}

header.header2 .container {
    display: flex;
}

header.header2 .logo img {
    width:200px;
}

header.header2 .email-form {
    margin-left: 100px;
}

.content-text {
    margin-top: 200px;
    margin-bottom: 200px;
}

.card-ttd-petisi {
    background-color: #f2f2f2;
    padding: 20px;
}

.modal-body-selamat {
    padding: 50px;
    text-align: center;
}

.ttd-petisi-mobile {
    display: none;
}

.captcha-center,
.captcha-center-2 {
    text-align: center;
}
.captcha-center .g-recaptcha {
    margin-top: 10px;
    display: inline-block;
    transform:scale(0.9);
    -webkit-transform:scale(0.9);
}

.captcha-center-2 .g-recaptcha {
    margin-top: 10px;
    transform:scale(0.9);
    -webkit-transform:scale(0.9);
    display: inline-block;
}

@media screen and (max-width: 480px) {
    .img-logo img {
        height: 11vh;
    }
    
    .drawer--right .drawer-hamburger, .drawer-navbar .drawer-hamburger {
        right: 3% !important;
    }

    .display-2 {
        font-size: 20pt !important;
        margin-top: 15vh;
    }
    
    .imglogo img {
        width: 35% !important;
        margin-bottom: 40px;
    }

    .logo-bt-footer img {
        width: 120px;
    }

    .img-footer-a {
        padding: 0 !important;
    }

    .bg-footer{
        width: 55%;
    }

    .card-footer-2 {
        left:5vh;
        width: 80%;
        padding: 10px;
    }

    p.tx-footer {
        font-size: 12pt;
    }

    p.copyright-tx {
        font-size: 9pt;
    }

    .logo-bt-footer {
        position: absolute;
        left: 5vh;
        top: 85vh;
    }

    .btn-modal-close {
        top: 5px;
        right: 5px;
        z-index: 9;
        -webkit-box-shadow: 0px 0px 12px -8px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 12px -8px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 12px -8px rgba(0,0,0,0.75);
    }

    .bg-img-2,
    .bg-img-3 {
        padding-top: 0px;
    }

    .btn-social {
        padding: 5px;
        border-radius: 8px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 1px;
        margin-right: 1px;
    }

    header.header2 .container {
        display: block;
    }

    header.header2 .email-form {
        display: none;
    }

    header.header2 .logo {
        text-align: center;
    }

    header.header2 .logo img {
        width:120px;
    }

    header.header2 { 
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .ttd-petisi-mobile {
        display: block;
        position: fixed;
        bottom: 0;
        width: 96%;
        left: 2%;
        padding: 20px;
        background-color: #f2f2f2;
    }

    .ttd-petisi-mobile strong,
    .ttd-petisi-mobile a {
        font-size: 9pt;
        text-align: center;
    }

    .ttd-petisi-mobile .form-email-3 {
        width: 90%;
        margin: 0 auto;
    }

    .content-text {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .card-ttd-petisi {
        margin-top: 20px;
        padding: 5px;
    }

    .btn-social-2 {
        width: 100%;
        margin-bottom: 10px;
    }

    .bg-footer {
        margin-bottom: 250px;
    }
    
    .btn-ttd-petisi {
        width: 100%;
        height: auto;
        font-size: 13pt !important;
        margin-left: 0;
        margin-top: 10px;
    }

}